/*
  display: flex;
  flex-direction: column;
  flex-wrap: ;
  justify-content: ;
  align-items: ;

*/

.square-container {
  height: 100%;
  width: 100%;
}

.square {
  width: 100px;
  height: 100px;
}
